# Project Overview
RFM (Recency, Frequency, Monetary) Analysis is a marketing analytics method used to identify a company's most valuable customers by examining three purchasing behaviors which are:
1. Recency: How recently a customer made a purchase
2. Frequency: How often they make purchases 
3. Monetary Value: How much money they have spent over time.

This project involves performing RFM Analysis using SQL queries to analyze customer behavior and segment them into various categories based on their purchasing habits.

The dataset used for this analysis is as below

In [7]:
%load_ext sql

In [8]:
%sql mysql+pymysql://root:password123@localhost:3306/rfm_data

'Connected: root@rfm_data'

In [10]:
%%sql

SELECT
    *
FROM
    rfm_data.rfm_data_table
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/rfm_data
5 rows affected.

[(8814, '2023-04-11', Decimal('943.31'), 'Product C', 890075, 'Tokyo'),
 (2188, '2023-04-11', Decimal('463.70'), 'Product A', 176819, 'London'),
 (4608, '2023-04-11', Decimal('80.28'), 'Product A', 340062, 'New York'),
 (2559, '2023-04-11', Decimal('221.29'), 'Product A', 239145, 'London'),
 (9482, '2023-04-11', Decimal('739.56'), 'Product A', 194545, 'Paris')]

### You can also access the dataset using pandas code as below

In [13]:
import pandas as pd

data = pd.read_csv('rfm_data.csv')

data.head()

,CustomerID,PurchaseDate,TransactionAmount,ProductInformation,OrderID,Location
0,8814,4/11/2024,943.31,Product C,890075,Tokyo
1,2188,4/11/2024,463.70,Product A,176819,London
2,4608,4/11/2024,80.28,Product A,340062,New York
3,2559,4/11/2024,221.29,Product A,239145,London
4,9482,4/11/2024,739.56,Product A,194545,Paris

### Step 1: Data Preparation
Ensure the data is correctly formatted and loaded into the SQL database.

In [ ]:
CREATE TABLE rfm_data.rfm_data_table(
CustomerID INTEGER NOT NULL,
PurchaseDate VARCHAR(37),
TransactionAmount NUMERIC(5,2),
ProductInformation VARCHAR(37),
OrderID INTEGER NOT NULL,
Location VARCHAR(37)
);

After creating the table, insert the dataset into it.

### Step 2: Calculate RFM Metrics
1. Calculate Recency: Recency is determined by how recently a customer made a purchase. The lower the value, the more recent the transaction.
2. Calculate Frequency: Frequency is calculated by counting the number of purchases made by a customer.
3. Calculate Monetary Value: Monetary value is calculated as the total amount spent by a customer across all transactions.

In [ ]:
SELECT CustomerID, MAX(PurchaseDate) AS LastPurchaseDate,
       DATEDIFF(CURRENT_DATE, MAX(PurchaseDate)) AS Recency
FROM YourTableName
GROUP BY CustomerID;
                                  
SELECT CustomerID, COUNT(*) AS Frequency
FROM YourTableName
GROUP BY CustomerID;

SELECT CustomerID, SUM(TransactionAmount) AS Monetary
FROM YourTableName
GROUP BY CustomerID;

### Step 3: Combine RFM Metrics
After calculating Recency, Frequency, and Monetary values individually, combine these metrics into a single table.

In [ ]:
CREATE TABLE CombinedRFMTable AS

Select R.Customer_ID, R.Recency, F.Frequency, M.Monetary
From (Select Customer_ID, DATEDIFF(current_date, MAX(Purchase_Date)) AS RECENCY 
FROM rfm_data.rfm_data_table
group by Customer_ID) R

JOIN (SELECT 
        Customer_ID,
        COUNT(*) As Frequency
FROM rfm_data.rfm_data_table
group by Customer_ID) F ON R.Customer_ID = F.Customer_ID

JOIN(SELECT
        Customer_ID,
        sum(Transaction_Amount) as Monetary
FROM rfm_data.rfm_data_table
group by Customer_ID) M ON R.Customer_ID = M.Customer_ID;

### Step 4: Customer Segmentation
Based on the RFM scores, customers can be segmented into different groups, such as High, Medium, and Low for each of the three metrics (Recency, Frequency, and Monetary).

In [ ]:
SELECT Customer_ID,
		CASE 
			WHEN Recency <= 30 THEN 'HIGH'
			WHEN Recency BETWEEN 31 AND 60 THEN 'MID'
			ELSE 'LOW'
		END AS RecencyScore,
        CASE
			WHEN Frequency >= 10 THEN 'HIGH'
            WHEN Frequency BETWEEN 5 AND 9 THEN 'MID'
            ELSE 'LOW'
		END AS FrequencyScore,
        CASE
			WHEN Monetary >= 500 THEN 'HIGH'
            WHEN Monetary BETWEEN 200 AND 499 THEN 'MID'
            ELSE 'LOW'
		END AS MonetaryScore
FROM rfm_data.combinedrfmtable;

### Key Insights
1. Recency: Customers with lower Recency scores have made recent purchases and are more engaged.
2. Frequency: Customers with higher Frequency scores make purchases more frequently, indicating loyalty.
3. Monetary Value: Customers with higher Monetary scores spend more, showing they are the most valuable customers.

### Conclusion
RFM Analysis provides actionable insights into customer behaviors, allowing businesses to focus marketing efforts on the most valuable customers and develop strategies to engage those who are less active or valuable. The SQL queries in this project efficiently calculate the RFM metrics and segment customers accordingly.